name: Playwright Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      
      - name: Run Chromium tests
        env:
          DEMO_USER: ${{ secrets.DEMO_USER }}
          DEMO_PASS: ${{ secrets.DEMO_PASS }}
        run: npx playwright test --project=chromium --reporter=html

      
      - name: Run Firefox tests (skip TC15)
        env:
          DEMO_USER: ${{ secrets.DEMO_USER }}
          DEMO_PASS: ${{ secrets.DEMO_PASS }}
        run: npx playwright test --project=firefox --reporter=html --grep-invert "TC 15"

      
      - name: Run WebKit tests
        env:
          DEMO_USER: ${{ secrets.DEMO_USER }}
          DEMO_PASS: ${{ secrets.DEMO_PASS }}
        run: npx playwright test --project=webkit --reporter=html

      - name: Upload HTML report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report
