name: Playwright Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 24

    - name: Install dependencies
      run: npm install

    - name: Install Playwright Browsers & Dependencies
      run: |
        npx playwright install-deps
        npx playwright install

    - name: Run Tests
      run: npx playwright test
      env:
        BASE_URL: https://www.demoblaze.com

    - name: Upload Test Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: playwright-report
